<div class="main_header">
    <div>
        <a href="" class="main_header__brand">SiteTitle</a>
    </div>
    <nav class="main_header__nav">
        <ul class="main_header__nav_items">
            <li class="main_header__nav_item">
                <a href="\home">Home</a>
            </li>

            <li class="main_header__nav_item">
                <a href="">Tab</a>
            </li>

            <li class="main_header__nav_item">
                <a href="">Tab</a>
            </li>

            <li class="main_header__nav_item">
                <a href="">Tab</a>
            </li>
        </ul>
    </nav>
</div>